ul li:hover,
li.selected,
.card:hover {
  background-color: #eceff1;
}
li,
.card {
  cursor: pointer;
}

.rbt-input-multi {
  height: auto !important;
}

.react-datepicker-ignore-onclickoutside {
  background-color: #eceff1;
}

.hidden {
  display: none;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
